.poodlelink:hover {
  cursor: crosshair;
}

.crosshair {cursor: crosshair;}


::placeholder {
  color: #94E8B4;
  opacity: 1; /* Firefox */
}

:root {
  --colpal1: #94E8B4;
  --colpal2: #72BDA3;
  --colpal3: #5E8C61;
  --colpal4: #4E6151;
  --colpalDarkNav: #395F52;
  --onyxcol: #3A3B41;
  --brightcol: #ffffff;
}
